<html lang="en">
<head>
  <title>Lunenburg</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Artikeloverzicht</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Artikelnummer</th>
        <th>Omschrijving</th>
        <th>Magazijnlocatie</th>
        <th>Voorraad</th>
        <th>Bestelserie</th>
        <th>Artikelinformatie wijzigen magazijnbeheerder:</th>
        <th>Artikelinformatie wijzigen inkoper:</th>
       </tr>
    </thead>
    <tbody>
     {% for artikel in artikelen %}
      <tr>
        <td>{{ artikel.artikelnummer }}</td>
        <td>{{ artikel.omschrijving }}</td>
        <td>{{ artikel.magazijnlocatie }}</td>
        <td>{{ artikel.voorraadaantal }}</td>
        <td>{{ artikel.bestelserie }}</td>
        <td><a href="{{ path('magazijnbeheerderwijzigartikel',{'artikelnummer':artikel.artikelnummer}) }}">Wijzigen</a></td></td>
        <td><a href="{{ path('inkoperwijzigartikel',{'artikelnummer':artikel.artikelnummer}) }}">Wijzigen</a></td></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

</body>
</html>
