{# app/Resources/views/registration/register.html.twig #}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" >
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h1 style="font-size: 50px; font-family: 'Garamond', cursive;"><font color="#DF0101"><B>Lunenburg</B></font></P></h1>
<form method="post" action="">

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email)	}}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.roles) }}

<body>
<button type="submit" class="btn btn-info">Registreren</button>
</body>
</html>
{{ form_end(form) }}
